%header
  = render partial: 'header'
  .menuWrapper
    %ul.menuWrapper__itemMenuWrapper
      %li.menuWrapper__itemMenuWrapper__item.item__category
        = link_to "カテゴリー", "#"
        .menuWrapper__itemMenuWrapper__item__category
          %ul.parents
            - @categories.each do |category|
              %li.parent
                =link_to "#{category.name}", category_path(category.id)
                %ul.children
                  - category.children.each do |child|
                    %li.child
                      =link_to "#{child.name}", category_path(child.id)
                      %ul.grandChildren
                        - child.children.each do |gchild|
                          %li.grandChild
                            =link_to "#{gchild.name}", category_path(gchild.id)

      %li.menuWrapper__itemMenuWrapper__item.item__brand
        = link_to "ブランド", "#"
        .menuWrapper__itemMenuWrapper__item__brand
          = render partial: 'items/brand'
    %ul.menuWrapper__userMenuWrapper
      = render partial: 'items/user'

  .MypageBody
    .SideList
      = link_to saleitem_path, method: :get, class: "ListBtn" do
        %p 出品した商品  
      = link_to favorites_path, method: :get, class: "ListBtn" do
        %p いいねした商品 
      = link_to history_path, method: :get, class: "ListBtn" do
        %p 購入履歴
      = link_to point_path, method: :get, class: "ListBtn" do
        %p ポイント  
      = link_to profile_path, method: :get, class: "ListBtn" do
        %p プロフィール 
      = link_to new_credit_card_path, class: "ListBtn" do
        %p 支払い方法    
      = link_to logoutbtn_path, method: :get, class: "ListBtn" do
        %p ログアウト
    .MainField
      .Profile
        .ProfileBox
          .ProfileHead
            %h2 プロフィール
          .ProfileData
            %p お名前
            %p
              = @profile.first_name
              = @profile.family_name
          .ProfileData
            %p お名前カナ
            %p 
              = @profile.first_name_kana
              = @profile.family_name_kana
          .ProfileData
            %p 生年月日
            %p 
              = @profile.birth_day
          .ProfileData
            %p 住所
            %p 
              = @address.prefecture_code
              = @address.city
              = @address.town
              = @address.building
          .ProfileData
            %p 電話番号
            %p 
              = @address.tell
