%header
  = render partial: 'header'
  .menuWrapper
    %ul.menuWrapper__itemMenuWrapper
      %li.menuWrapper__itemMenuWrapper__item.item__category
        = link_to "カテゴリー", "#"
        .menuWrapper__itemMenuWrapper__item__category
          %ul.parents
            - @categories.each do |category|
              %li.parent
                =link_to "#{category.name}", category_path(category.id)
                %ul.children
                  - category.children.each do |child|
                    %li.child
                      =link_to "#{child.name}", category_path(child.id)
                      %ul.grandChildren
                        - child.children.each do |gchild|
                          %li.grandChild
                            =link_to "#{gchild.name}", category_path(gchild.id)

      %li.menuWrapper__itemMenuWrapper__item.item__brand
        = link_to "ブランド", "#"
        .menuWrapper__itemMenuWrapper__item__brand
          = render partial: 'items/brand'
    %ul.menuWrapper__userMenuWrapper
      = render partial: 'items/user'

  .MypageBody
    .SideList
      = link_to saleitem_path, method: :get, class: "ListBtn" do
        %p 出品した商品
      = link_to favorites_path, method: :get, class: "ListBtn" do
        %p いいねした商品
      = link_to history_path, method: :get, class: "ListBtn" do
        %p 購入履歴
      = link_to point_path, method: :get, class: "ListBtn" do
        %p ポイント
      = link_to profile_path, method: :get, class: "ListBtn" do
        %p プロフィール
      = link_to new_credit_card_path, class: "ListBtn" do
        %p 支払い方法
      = link_to logoutbtn_path, method: :get, class: "ListBtn" do
        %p ログアウト
    .MainField
      .SaleItems
        .SaleHead 出品した商品
        .SaleItemsStatus
          = link_to "#", class: "ItemsStatus" do
            %p 出品中
          = link_to "#", class: "ItemsStatus" do
            %p 取引中
          = link_to "#", class: "ItemsStatus" do
            %p 売却済
        .ItemsBox
          - @items.each do |item|
            .item
              = link_to "#" do
                = image_tag item.images[0].image.url
                %p
                  = item.name
                %ul
                  %li
                    = "#{item.price}円"
                    %span
                      = icon('fas', 'star')
                      = item.favorites.count
                %span.tax (税込)
              .MoreList
                = link_to "詳細", "#", class: "Btn"
                = link_to "編集", edit_item_path(item.id), class: "Btn"
                = link_to "削除", item_path(item.id), method: :delete, class: "Btn"