%header
  = render partial: 'header'
.confirmationContainer
  .confirmationWrapper
    %h1 購入確認
    %h3
      = "商品 : " + @item.name
    .confirmationWrapper__detailWrapper
      .confirmationWrapper__detailWrapper__detail
        %p 商品代金
        %p 
          = "¥" + @item.price.to_s(:delimited)
      .confirmationWrapper__detailWrapper__detail
        %p 決済手数料
        %p 
          = "¥" + (@item.price/10).to_s(:delimited)
      .confirmationWrapper__detailWrapper__detail
        %p ポイント使用
        %p &#045;P500
      .confirmationWrapper__detailWrapper__detail
        %p 支払い金額
        %p ¥6,100
      .confirmationWrapper__detailWrapper__detail
        %p 支払い方法
        %p カード
  = link_to "商品を購入する", "#",{class: "button"}
%footer
  = render partial: 'footer.html.haml'