%header
  = render partial: 'header'
  .menuWrapper
    %ul.menuWrapper__itemMenuWrapper
      %li.menuWrapper__itemMenuWrapper__item.item__category
        = link_to "カテゴリー", "#"
        .menuWrapper__itemMenuWrapper__item__category
          %ul.parents
            - @categories.each do |category|
              %li.parent
                =link_to "#{category.name}", category_path(category.id)
                %ul.children
                  - category.children.each do |child|
                    %li.child
                      =link_to "#{child.name}", category_path(child.id)
                      %ul.grandChildren
                        - child.children.each do |gchild|
                          %li.grandChild
                            =link_to "#{gchild.name}", category_path(gchild.id)

      %li.menuWrapper__itemMenuWrapper__item.item__brand
        = link_to "ブランド", "#"
        .menuWrapper__itemMenuWrapper__item__brand
          = render partial: 'items/brand'
    %ul.menuWrapper__userMenuWrapper
      = render partial: 'user'

.hero
  %h1.hero__heroTitle 人生を変えるフリマアプリ
  %p.hero__heroMessage FURIMAはだれでもかんたんに出品・購入できる
  %p.hero__heroMessage フリマアプリです
  .hero__appWrapper
    .hero__appWrapper__button
      = link_to "", "#", class: "apple", style: "display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2008-12-10&kind=iossoftware&bubble=ios_apps) no-repeat;width:135px;height:40px;"
      = link_to image_tag(asset_path("icon/google-play-badge.png")),"#", class: "google"
.reasons
  %h3 FURIMAが選ばれる3つの理由
  %ul.reasons__lists
    %li.reasons__lists__list
      %span.num 1
      = image_tag asset_path("pict/pict-reason-01.jpg"), alt: '', height: '', width: '', class: ''
      %h5
        %span 3分
        ですぐに出品
      %p スマホで入力するだけで簡単に出品できる！
    %li.reasons__lists__list
      %span.num 2
      = image_tag asset_path("pict/pict-reason-02.jpg"), alt: '', height: '', width: '', class: ''
      %h5
        %span シンプル
        で使いやすい
      %p めんどくさい入力は必要なく、検索も購入もスムーズ！
    %li.reasons__lists__list
      %span.num 3
      = image_tag asset_path("pict/pict-reason-03.jpg"), alt: '', height: '', width: '', class: ''
      %h5
        手数料
        %span 業界最安値
      %p 最大3%でお得に出品&購入！

.member
  %h3 会員数日本一
  %p FURIMAは、フリマアプリで最も人気。
  %p 出品・購入回数も業界最多です！
  %p ほしかったあの商品に出会えるかもしれません。
  .hero__appWrapper
    .hero__appWrapper__button
      = link_to "", "#", class: "apple", style: "display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2008-12-10&kind=iossoftware&bubble=ios_apps) no-repeat;width:135px;height:40px;"
      = link_to image_tag(asset_path("icon/google-play-badge.png")),"#", class: "google"
.feature
  %h3 FURIMAの特徴
  %ul
    %li
      = image_tag asset_path("icon/icon-01.png")
      %h5 簡単に売り買いできる
      %p スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
    %li
      = image_tag asset_path("icon/icon-03.png")
      %h5 簡単に売り買いできる
      %p スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
    %li
      = image_tag asset_path("icon/icon-04.png")
      %h5 様々な支払いに対応
      %p お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
.itemWrapper
  .category
    %h3 ピックアップカテゴリー
    = link_to "新規投稿商品", "#"
    .items
      - @items.each do |item|
        .item
          = link_to "/items/#{item.id}" do
            = image_tag asset_path("pict/#{item.images[0].image}")
            %p
            %ul
              %li
                = item.name
                .img
                  = "#{item.price}円"
                  -# %span
                    -# = icon('fas', 'star')   今後実装するので今はコメントアウトにしています。
            %span.tax (税込)
          -if item.stage == 1
            .sold
              .sold-text
                SOLD

  .archive
    %h3 ピックアップブランド
    = link_to "アーカイブ", "#"
    .items
      - @items.each do |item|
        .item
          = link_to "/items/#{item.id}" do
            = image_tag asset_path("pict/#{item.images[0].image}")
            %p
            %ul
              %li
                = item.name
                .img
                  = "#{item.price}円"
                  -# %span
                  -# = icon('fas', 'star')   今後実装する予定なので今はコメントアウトにしています。
            %span.tax (税込)
          -if item.stage == 1
            .sold
              .sold-text
                SOLD


.bottom
  %h5 だれでもかんたん、人生を変えるフリマアプリ
  %h3 今すぐ無料ダウンロード！
  .hero__appWrapper
    .hero__appWrapper__button
      = link_to "", "#", class: "apple", style: "display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2008-12-10&kind=iossoftware&bubble=ios_apps) no-repeat;width:135px;height:40px;"
      = link_to image_tag(asset_path("icon/google-play-badge.png")),"#", class: "google"

%footer
  = render partial: 'footer.html.haml'
.cameraContainer
  = link_to new_item_path do
    %p 出品する
    = image_tag asset_path("icon/icon_camera.png")