.all
  .logo
    =link_to '/' do
      = image_tag 'logo.png', width: '200', height: '60', class: 'logo-herder'
  .cotentns-form
    .product-details
      = form_with model: @item, local: true do |f|
        - required = '必須'
        .form-box
          .content
            .info
              = f.label :image, '出品画像'
              %span.hissu #{required}
            .image-products
              .image
                
                #image-box
                  #previews
                    - if @item.persisted?
                      - @item.images.each_with_index do |image, i|
                        = image_tag image.image.url, data: { index: i }, width: "150", height: '150'
                  = f.fields_for :images do |image|
                    .js-file_group{"data-index" => "#{image.index}"}
                      = image.file_field :image, class: 'js-file', required: ""
                      %br/
                      %span.js-remove 削除
                    - if @item.persisted?
                      = image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'
                  - if @item.persisted?
                    .js-file_group{"data-index" => "#{@item.images.count}"}
                      = f.file_field_tag :image, name: "item[images_attributes][#{@item.images.count}][image]", class: 'js-file'
                      .js-remove 削除

        .form-box
          .content
            .info
              = f.label :name, '商品名'
              %span.hissu #{required}
            %br/
            = f.text_field :name, autocomplete: "on", placeholder: "例) テレビ", required: "", class: "text"

          .content
            .info
              = f.label :detail, '商品の説明'
              %span.hissu #{required}
            %br/
            = f.text_area :detail, autocomplete: "on", placeholder: '商品の説明(色、素材、重さ、定価、注意点など)                                 例)2019年頃に購入したジャケットです。ライトグレーで傷はありません。      あわせやすいのでおすすめです。', required: "", class: "long-sentence"
        .form-box
          .content
            .info
              %p.product-details 商品の詳細
              = f.label :category_id, 'カテゴリー'
              %span.hissu #{required}
            %br/
            = f.select :category_id, @category_array, {include_blank: '選択してください'} , required: "required"
            
          .content
            .info
              = f.label :brand, 'ブランド'
              %span.ninni 任意
            %br/
            = f.text_field :brand, autocomplete: "on", placeholder: "例) NIKE", class: "text"
          .content
            .info
              = f.label :condition, '商品の状態'
              %span.hissu #{required}
            %br/
            = f.select :condition, Item.conditions.keys, {include_blank: '選択してください'}, required: ""
        .form-box
          .content
            .info
              %p.delivery-information 配送について
              = f.label :delivery_fee, '配送料の負担'
              %span.hissu #{required}
            %br/
            = f.select :fee, Item.fees.keys, {include_blank: '選択してください'}, required: ""
          .content
            .info
              = f.label :size, '商品のサイズ'
              %span.ninni 任意
            = f.text_field :size, autocomplete: "on", placeholder: "例) Mサイズ", class: "size"

          .content
            .info
              = f.label :prefecture, '発送元の地域'
              %span.hissu #{required}
              .prefecture
                = f.collection_select :prefecture, Prefecture.all, :id, :name, {include_blank: '--'}, class: 'input', required: ""

          .content
            .info
              = f.label :delivery_date, '発送までの日数'
              %span.hissu #{required}
            %br/
            = f.select :delivery_date, Item.delivery_dates.keys, {include_blank: '選択してください'}, required: ""
        .form-box
          .content
            %p.price 価格（¥300〜9,999,999)
            .price-contents
              .info
                = f.label :delivery_fee, '販売価格'
                %span.hissu #{required}
              %p.money ¥
              = f.text_field :price, autocomplete: "on", required: "", placeholder: "0", style: "text-align: right;", class: "text-numeric"
          .submit
            = f.submit "出品する", class: "submit-sell"

  .logo
    = image_tag 'logo-white.png', width: '200', height: '60', class: 'logo-footer'