%header
  = render partial: 'header'
  .menuWrapper
    %ul.menuWrapper__itemMenuWrapper
      %li.menuWrapper__itemMenuWrapper__item.item__category
        = link_to "カテゴリー", "#"
        .menuWrapper__itemMenuWrapper__item__category
          %ul.parents
            - @categories.each do |category|
              %li.parent
                =link_to "#{category.name}", category_path(category.id)
                %ul.children
                  - category.children.each do |child|
                    %li.child
                      =link_to "#{child.name}", category_path(child.id)
                      %ul.grandChildren
                        - child.children.each do |gchild|
                          %li.grandChild
                            =link_to "#{gchild.name}", category_path(gchild.id)

      %li.menuWrapper__itemMenuWrapper__item.item__brand
        = link_to "ブランド", "#"
        .menuWrapper__itemMenuWrapper__item__brand
          = render partial: 'items/brand'
    %ul.menuWrapper__userMenuWrapper
      = render partial: 'user'

.Main
  .ShowMain
    .Content
      .Content__main
        %h2
          = @item.name 
        .Content__box
          %ul
            %li
              - @item.images.each do |image|
                = image_tag image.image.url, height: "300", width:"500"
              -# content内はユーザーの投稿した内容が表示されるようになる
        .Content__price
          %span 
            = "¥#{@item.price.to_s(:delimited, delimiter: ',')}"
            %span.includeFee (税込)
        .Content__detail
          %span
            = "#{@item.fee}"
        .Content__name
          = @item.name
        .Content__table
          %table
            %tbody
              %tr
                %th 出品者
                %td
                  = @item.user.nickname
              %tr
                %th カテゴリー
                %td 
                  = link_to "#" do
                    = @item.category.name
              %tr
                %th ブランド
                %td
                  = @item.brand
              %tr
                %th 商品サイズ
                %td
                  = @item.size
              %tr
                %th 商品の状態
                %td 
                  = @item.condition
              %tr
                %th 配送料の負担
                %td
                  = @item.fee
              %tr
                %th 発送元の地域
                %td
                  = link_to "#" do
                    = @prefecture
              %tr
                %th 発送日の目安
                %td
                  = @item.delivery_date
        - if user_signed_in?
          .Option
            - if @flug.blank?
              - if @item.stage == "selling" && @item.user_id != current_user.id
                = link_to pay_item_path(@item.id), method: :post, class: "buyButton" do
                  %span 購入する
              = link_to "#", class: "favorite-item", id: "#{@item.id}", data: {user_id: current_user.id}  do
                = icon('fas', 'star')
                %span いいね!
                %span.favoritesNumber
                  = @favorites[@item.id]
            - else
              - if @item.stage == "selling" && @item.user_id != current_user.id
                = link_to confirmation_item_path(@item.id), class: "buyButton" do
                  %span 購入する
              = link_to "#", class: "favorite-item addFavorite", id: "#{@item.id}", data: {user_id: current_user.id}  do
                = icon('fas', 'star')
                %span いいね!
                %span.favoritesNumber
                  = @favorites[@item.id]
        - else
          .Option
            = link_to "#" do
              = icon('fas', 'star')
              %span いいね!
              %span.favoritesNumber
                = @favorites[@item.id]
      
      .Comments
        .Comments__container
          - @comments.each do |comment|
            .Comments__container__comment
              %p.commenter
                = comment.user.nickname
                - if comment.user_id == @item.user_id
                  %span 出品者
              %p.content
                = comment.comment
                %span.dateinfo
                  = comment.created_at.strftime("%Y-%m-%d %H:%M")
        - if user_signed_in?
          = form_with model: @comment, url: comment_item_path do |f|
            = f.text_area :comment, cols: "70", rows: "4", class: "commentBox"
            %p 
              相手のことを考え丁寧なコメントを心がけましょう。
              %br
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
            = f.submit value:"コメントする", class: "Comments__btn"
      
      .SubItem
        = link_to "#{@item.user.nickname}さんの他の出品をもっとみる", user_path(@item.user_id) ,class: "SubItem"
      
      .itemWrapper
        - @otherItems.each do |item|
          = link_to item_path(item.id) do
            .itemContainer
              .ItemList
                = image_tag item.images[0].image.url
              .ItemList__body
                .ItemList__data
                  %h3
                    = item.name
                  %ul
                    %li
                      = item.price
                    %li
                      = icon('fas', 'star')
                      = @favorites[item.id]
                  %p
                    (税込)

.bottom
  %h5 だれでもかんたん、人生を変えるフリマアプリ
  %h3 今すぐ無料ダウンロード！
  .hero__appWrapper
    .hero__appWrapper__button
      = link_to "", "#", class: "apple", style: "display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2008-12-10&kind=iossoftware&bubble=ios_apps) no-repeat;width:135px;height:40px;"
      = link_to image_tag(asset_path("icon/google-play-badge.png")),"#", class: "google"

%footer
  = render partial: 'footer.html.haml'
.cameraContainer
  = link_to "#" do
    %p 出品する
    = image_tag asset_path("icon/icon_camera.png")